*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: var(--normal-font-size);
}
a{
    text-decoration: none;
    color: black;
}
ul{
    list-style: none;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    height: 3.5rem;
}
.container{
    max-width: 1120px;
    margin-inline: 1.5rem;
}
.services{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@media screen and (min-width: 1024px){
    :root{
        font-size: 1rem;
    }
}

@media screen and (max-width: 1118px) {    
}